<%- include('layouts/header') %>

<div class="container">
	<div class="row">
		<div class="col-lg-6 mx-auto mt-4">
			<div class="card border-primary">
				<div class="card-header bg-primary">
					<h3 class="text-light">Country: (<%= country.name %>)</h3>
				</div>
				<div class="card-body p-2">
					<form enctype="multipart/form-data">
						<div class="mb-3">
						  <label for="name" class="form-label">Enter Name:</label>
						  <input class="form-control form-control-lg" type="text" name="name" value="<%= country.name%>" disabled />
						</div>
						<div class="mb-3">
						  <label for="continent" class="form-label">Enter Continent:</label>
						  <input class="form-control form-control-lg" type="text" name="continent" value="<%= country.continent%>" disabled />
						</div>
						<div class="mb-3">
						  <label for="rank" class="form-label">Enter Rank:</label>
						  <input class="form-control form-control-lg" type="text" name="rank" value="<%= country.rank%>" disabled />
						</div>
						<div class="mb-3">
						  <label for="image" class="form-label">Country Flag</label>
						  <img src="/<%= country.flag %>" width="100" class="img-thumbnail">
						</div>
						<div class="mb-3 d-grid">
							<a href="/" type="button" class="btn btn-danger">Back</a>
						</div>
					</form>
				</div>
			</div>
	    </div>
	</div>
</div>

<%- include('layouts/footer') %>